header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1em 4em;
}

nav {
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    white-space: nowrap;
    gap: 10px;
}

.nav-link {
    position: relative;
    color: #fff;
    text-decoration: none;
    padding-bottom: 0.3em;
    font-weight: 500;
    transition: 0.5s;
}

.nav-link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    bottom: 0;
    left: 0;
    background-color: var(--cor-destaque);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover {
    color: var(--cor-destaque);
}

.nav-link:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.contate-me {
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    background-color: var(--cor-destaque);
    color: var(--cor-texto);
    transition: 0.9s;
    border: 1px solid var(--preto-padrao);
}

.contate-me:hover {
    background-color: var(--preto-padrao);
    border-color: var(--cor-destaque);
}

.logo {
    transition: 0.5s;
}

.logo:hover {
    transform: scale(1.1);
}


