.projetos {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 4em;

}

.titulo-section {
    color: var(--cor-texto);
    margin-bottom: 2em;
    font-size: 2em;
    white-space: nowrap;
}

.titulo-section span {
    color: var(--cor-destaque);
}

.cards {
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    color: var(--cor-texto);
    padding: 1.5em;
    gap: 10px;
    text-align: start;
    border: 1px solid var(--cor-destaque);
    border-radius: 5px;
    width: 100%;
    transition: 0.5s;
    overflow: hidden;
    animation: neon 2s alternate infinite ease-in-out;
}

.card:hover {
    background-color: rgba(12, 54, 145, 0.11);
}

.card-descricao {
    color: var(--cinza-padrao);
}

.card-buttons {
    display: flex;
    justify-content: space-around;
    gap: 10px;
    margin-top: 1em;
}

.card-buttons a {
    text-decoration: none;
    padding: 0.5em 1em;
    text-align: center;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.486);
    color: var(--cor-texto);
    transition: 0.9s;
    white-space: nowrap;
    border: 1px solid var(--cor-destaque);
}

.card-buttons a:hover {
    background-color: var(--cor-destaque);
    box-shadow: 4px 4px 10px 0px rgba(0, 0, 0, 0.35);
}

.card-2 {
    margin-top: 3em;
}

/*--------- Animações efeito neon----------------------------*/

@keyframes neon {
    0% {
        box-shadow: 0 0 11px var(--cor-destaque);
    }

    100% {
        box-shadow: 0 0 0px var(--cor-destaque);

    }
}

/*--------- Media querys----------------------------*/
@media (max-width: 1000px) {


    .cards {
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    .projetos {
        overflow: hidden;
        margin: 1em;
    }

    .titulo-section {
        margin-top: 2em;
    }

}